{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="layout">
        <div class="grid grid--sidebar">
            <div class="title_bar">
                <h2 class="title">{{ title }}</h2>
                <div class="top__pagination">
                    {% if page_obj.has_previous %}
                        <a aria-label="go to first page" class="title_bar__pagination__item" href="{% url 'event_list' when=when page=1 %}"><<</a>
                        <a aria-label="go to previous page" class="title_bar__pagination__item" href="{% url 'event_list' when=when page=page_obj.previous_page_number %}">
                            <
                        </a>
                    {% endif %}
                    <span aria-label="page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                     " class="title_bar__pagination__item">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a aria-label="go to next page" class="title_bar__pagination__item" href="{% url 'event_list' when=when page=page_obj.next_page_number %}">></a>
                        <a aria-label="go to last page" class="title_bar__pagination__item" href="{% url 'event_list' when=when page=page_obj.paginator.num_pages %}">>></a>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'event_new' %}" class="button button--primary">Create a new event</a>
        </div>
        <div class="grid grid--sidebar">
            <div>
                <p class="subtitle">We have events ranging from {{ attendees_min }} to {{ attendees_max }} attendees.</p>
                {% for event in page_obj %}
                    <article data-event-card class="card layout__article">
                        <div class="title_attending_container">
                            <a href="{% url 'event_detail' pk=event.id %}">
                                <h3>{{ event.title }}</h3>
                            </a>
                            {% include "events/attendance.html" %}

                        </div>
                        {% if event.ends_at < now %}
                            <p>{{ event.starts_at|timesince }} ago - {{ event.starts_at|date }}</p>
                        {% else %}
                            <time>{{ event.starts_at }} - {{ event.ends_at }}</time>
                            <p data-attendance-description
                               data-attendance-description-type="list"
                            >
                                {% if event.has_user_rsvp %}
                                    {{ event.remaining_spaces }} spaces left - you are attending
                                {% else %}
                                    {{ event.remaining_spaces }} spaces left
                                {% endif %}
                            </p>
                        {% endif %}
                        <p >{{ event.location }}</p>
                        <p class="rich-text">{{ event.description }}</p>
                        <p data-error class="error hidden" aria-live="polite"></p>
                    </article>
                {% endfor %}
                <div class="pagination">
                    <p class="pagination__readout">Displaying {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }} results.</p>
                </div>
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a class="pagination__item" href="{% url 'event_list' when=when page=1 %}">
                            first
                        </a>
                        <a class="pagination__item" href="{% url 'event_list' when=when page=page_obj.previous_page_number %}">
                            previous
                        </a>
                    {% endif %}
                    <span class="pagination__item">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a class="pagination__item" href="{% url 'event_list' when=when page=page_obj.next_page_number %}">next</a>
                        <a class="pagination__item" href="{% url 'event_list' when=when page=page_obj.paginator.num_pages %}">last</a>
                    {% endif %}
                </div>
            </div>
            <div class="grid__item">
                {% if when == "past" %}
                    <a class="active-link sidebar--link" href="{% url 'event_list' when='future' page=page_obj.number %}">
                        - Past Events
                    </a>
                {% else %}
                    <a class="sidebar--link" href="{% url 'event_list' when='past' page=page_obj.number %}">
                        Past Events
                    </a>
                {% endif %}
                {% if when == "all" %}
                    <a class="active-link sidebar--link" href="{% url 'event_list' when='future' page=page_obj.number %}">
                        - All Events
                    </a>
                {% else %}
                    <a class="sidebar--link" href="{% url 'event_list' when='all' page=page_obj.number %}">
                        All Events
                    </a>
                {% endif %}
            </div>

        </div>

    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'scripts/attendance-form.js' %}"></script>
{% endblock javascript %}
