<article data-event-card class="card">
    {% if event.ends_at < now %}
        <time class="card__event-time">{{ event.starts_at|timesince }}</time>
    {% else %}
        <time class="card__event-time">{{ event.starts_at }}</time>
        <div class="title_attending_container">
            <a href="{% url 'event_detail' pk=event.id %}">
                <h3 class="card__event-title">{{ event.title }}</h3>
            </a>
            {% include "events/attendance.html" %}

        </div>
    <div class="card__title-underline" aria-hidden="true"></div>
        <p class="rich-text">{{ event.description }}</p>
        <p data-attendance-description
           data-attendance-description-type="list"
        >
            {% if event.has_user_rsvp %}
                {{ event.remaining_spaces }} spaces left - you are attending
            {% else %}
                {{ event.remaining_spaces }} spaces left
            {% endif %}
        </p>
    {% endif %}
    <p >{{ event.location }}</p>
    <p data-error class="error hidden" aria-live="polite"></p>
</article>
