{% extends "base.html" %}
{% load static %}
{% block title %}Event App - {{ event.title }}{% endblock title %}
{% block content %}
    <nav class="detail-nav">
        <p class="breadcrumbs"><a href="{% url 'event_list' %}">Home</a>&nbsp;&gt;&nbsp;{{ event.title }}</p>
        <div class="event-actions-container">
            {% if user.is_authenticated and user == event.organiser %}
                <a href="{% url 'event_edit' pk=event.id %}" class="button button--secondary">Edit</a>
                <a href="{% url 'event_delete' pk=event.id %}" class="button button--secondary">Delete</a>
            {% endif %}
        </div>
    </nav>
    <article data-event-card class="layout__single">
        <h2>{{ event.title }}</h2>
        <hr>
        <h4>Date And Time</h4>

        {% if event.ends_at < now %}
            <p>{{ event.starts_at|timesince }} ago - {{ event.starts_at|date }}</p>
        {% else %}
            <time>{{ event.starts_at }} - {{ event.ends_at }}</time>
        {% endif %}

        <hr>
        <h4>Location</h4>
        <p>{{ event.location }}</p>

        <hr>
        {% if event.ends_at < now %}
            <h4>Attendance</h4>
            <p>{{ event.attendee_count }} people attended out of {{ event.maximum_attendees }} possible spaces</p>
        {% else %}
            <h4>Attendance</h4>
            <p data-attendance-description
               data-attendance-description-type="detail"
            >
                {% if event.has_user_rsvp %}
                    {{ event.attendee_count }} attendee{{ event.attendee_count|pluralize:"s" }} out of {{ event.maximum_attendees }} spaces filled - {{ event.remaining_spaces }} spaces left - you are attending
                {% else %}
                    {{ event.attendee_count }} attendee{{ event.attendee_count|pluralize:"s" }} out of {{ event.maximum_attendees }} spaces filled - {{ event.remaining_spaces }} spaces left
                {% endif %}
            </p>
        {% endif %}
        <hr>
        <h4>description</h4>
        <p class="rich-text">{{ event.description }}</p>
        <hr>
        <div class="detail_form_container">
            {% include 'events/attendance.html' %}

            <p data-error class="error hidden" aria-live="polite"></p>
        </div>
            {% if user.is_authenticated %}
                <hr>
            {% endif %}
            {% include 'events/contributions_table.html' %}
        </article>

{% endblock content %}
{% block javascript %}
    <script src="{% static 'scripts/attendance-form.js' %}"></script>
{% endblock javascript %}
