{% extends "base.html" %}

{% block content %}
    <div class="grid grid--sidebar">
        <h2 >Event Listing Page Title</h2>
        <a href="" class="button button--primary">Create a new event</a>
    </div>
    <article class="card layout__article">
        <a href="{% url 'event_list' %}">
            <h3>Name of event</h3>
        </a>        
        <time>Start time, end time</time>
        <p>Location of the event</p>
        <p class ="rich-text">Under the radiant skies of Venus, a group of intrepid explorers gathered for a remarkable event on the fiery surface. Equipped with advanced heat-resistant gear, they savored the extraordinary sight of swirling clouds and molten landscapes. A makeshift table held dishes specially designed to withstand Venus's extreme temperatures, and laughter filled the air as they marveled at the novelty of a event in this alien world. It was a celestial feast, a moment of triumph in humanity's quest to conquer the enigmatic realms beyond Earth.</p>
    </article>
    <article class="card layout__article">
        
        <a href="{% url 'event_list' %}">
            <h3>Name of event</h3>
        </a>
        <time>Start time, end time</time>
        <p>Location of the event</p>
        <p class ="rich-text">Under the radiant skies of Venus, a group of intrepid explorers gathered for a remarkable event on the fiery surface. Equipped with advanced heat-resistant gear, they savored the extraordinary sight of swirling clouds and molten landscapes. A makeshift table held dishes specially designed to withstand Venus's extreme temperatures, and laughter filled the air as they marveled at the novelty of a event in this alien world. It was a celestial feast, a moment of triumph in humanity's quest to conquer the enigmatic realms beyond Earth.</p>
    </article>
    <article class="card layout__article">
        
        <a href="{% url 'event_list' %}">
            <h3>Name of event</h3>
        </a>
        <time>Start time, end time</time>
        <p>Location of the event</p>
        <p class ="rich-text">Under the radiant skies of Venus, a group of intrepid explorers gathered for a remarkable event on the fiery surface. Equipped with advanced heat-resistant gear, they savored the extraordinary sight of swirling clouds and molten landscapes. A makeshift table held dishes specially designed to withstand Venus's extreme temperatures, and laughter filled the air as they marveled at the novelty of a event in this alien world. It was a celestial feast, a moment of triumph in humanity's quest to conquer the enigmatic realms beyond Earth.</p>
    </article>

{% endblock %}
