{% extends "base.html" %}
{% load static %}
{% block title %}Djisco - {{ event.title }}{% endblock title %}
{% block content %}
    {% if event.ends_at < now %}
        <p><a href="{% url 'event_list' %}">Home</a>&nbsp;&gt;&nbsp;{{ event.title }}</p>
    {% else %}
        <p><a href="{% url 'event_list' %}">Home</a>&nbsp;&gt;&nbsp;{{ event.title }}</p>
    {% endif %}
    <article data-event-card class="layout__single">
        <h2>{{ event.title }}</h2>
        <hr>
        <h4>Date And Time</h4>

        {% if event.ends_at < now %}
            <p>{{ event.starts_at|timesince }} ago - {{ event.starts_at|date }}</p>
        {% else %}
            <time>{{ event.starts_at }} - {{ event.ends_at }}</time>
        {% endif %}

        <hr>
        <h4>Location</h4>
        <p>{{ event.location }}</p>

        <hr>
        {% if event.ends_at < now %}
            <h4>Attendance</h4>
            <p>{{ event.attendee_count }} people attended out of {{ event.maximum_attendees }} possible spaces</p>
        {% else %}
            <h4>Attendance</h4>
            <p data-attendance-description
               data-attendance-description-type="detail"
            >
                {% if event.has_user_rsvp %}
                    {{ event.attendee_count }} attendee{{ event.attendee_count|pluralize:"s" }} out of {{ event.maximum_attendees }} spaces filled - {{ event.remaining_spaces }} spaces left - you are attending
                {% else %}
                    {{ event.attendee_count }} attendee{{ event.attendee_count|pluralize:"s" }} out of {{ event.maximum_attendees }} spaces filled - {{ event.remaining_spaces }} spaces left
                {% endif %}
            </p>
        {% endif %}
        <hr>
        <h4>Description</h4>
        <p class="rich-text">{{ event.description }}</p>
        <hr>
        <div class="detail_form_container">
            {% if user.is_authenticated %}
                {% if event.has_user_rsvp or event.accepting_attendees %}
                    {% if event.ends_at > now %}

                        <form data-attendance-form method="post"
                              {% if event.has_user_rsvp %}
                                  action="{% url 'event_attendance' pk=event.id action='unattend' %}"
                                  data-form-action="unattend"
                              {% else %}
                                  action="{% url 'event_attendance' pk=event.id action='attend' %}"
                                  data-form-action="attend"
                              {% endif %}
                              data-button-text-unattend="Cancel your attendance"
                              data-button-text-attend="Join this Event!"
                              data-unattend-url="{% url 'event_attendance' pk=event.id action='unattend' %}"
                              data-attend-url="{% url 'event_attendance' pk=event.id action='attend' %}"
                              data-attendee-count="{{ event.attendee_count }}"
                              data-maximum-attendees="{{ event.maximum_attendees }}"
                        >

                            {% csrf_token %}
                            <input type="hidden" name="redirect_target" value="{{ request.path }}">
                            <div class="attend_button_container">
                                <div data-loading class="loading hidden"></div>

                                <button data-attendance-button
                                        class="button button--border
                                               {% if event.has_user_rsvp %}
                                                   unattend_button
                                               {% else %}
                                                   attend_button
                                               {% endif %}"
                                        type="submit"
                                >
                                    {% if event.has_user_rsvp %}
                                        Cancel your attendance
                                    {% else %}
                                        Join this Event!
                                    {% endif %}
                                </button>

                            </div>
                        </form>
                    {% else %}
                        {% if event.has_user_rsvp %}
                            <p class="attendance_record">You attended this Event!</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            <p data-error class="error hidden" aria-live="polite"></p>
        </div>
    </article>

{% endblock content %}
{% block javascript %}
    <script src="{% static 'scripts/attendance-form.js' %}"></script>
{% endblock javascript %}
