{% extends "base.html" %} {% block content %}
<div class="layout">
  <h3 class="event-form__title">Sign Up</h3>
  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% if field.errors %}
      <div class="error" role="alert">{{ field.errors }}</div>
      {% endif %} {% if field.help_text %}
      <p class="help-text">{{ field.help_text }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button class="button" type="submit">Sign Up</button>
    <a href="{% url 'event_list' %}" class="button button--cancel">Cancel</a>
  </form>
</div>
{% endblock content %}
