{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Organise Events!">
        <meta name="keywords" content="Event,food,guests">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/necolas-normalize.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock css %}
        <title>{% block title %} Djisco {% endblock title %}</title>
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <h1 data-text="Djisco" class="app-logo"><a href="{% url 'event_list' %}">Djisco</a></h1>
                {% if user.is_authenticated %}
                    <p class="logged-in-message">You are logged in as <strong>{{ user.username }}</strong>.</p>
                {% endif %}
                <nav role="navigation" aria-label="Main" class="header__navigation">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}?next={{ request.path }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" class="header__navigation-link"> Log Out </a>
                    {% else %}
                        <a href="" class="header__navigation-link">Sign Up</a>
                        <a href="{% url 'login' %}?next={{ request.path }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" class="header__navigation-link">Log In</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <main>
            {% include "events/messages.html" %}
            {% block content %}{% endblock content %}
            {% block javascript %}{% endblock javascript %}
        </main>
    </body>
</html>
